header{
    background-color: #c40000;
    margin-top: -10px;
    margin-left: -10px;
    width: 100vw;
    font-family: georgia;
}
main p{
    font-size: 16px;
}
#pulsen{
    display: block;
    margin-top: -16px;
    margin-left: -47px;
    width: 100vw;
}
h1{
    font-size: 48px;
}
aside{
    background-color: #8B7B7B;
    margin: 10px;
    padding: 10px;
}
aside p{
    color: #F1EBEB;
}
aside h2{
    color: #F1EBEB;
}
footer{
    background-color: #5d4646;
    padding: 20px;
    width: 100%;
    height: 219px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #F1EBEB;
    margin: 10px;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#item2{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: end;
}
#item3{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    line-height: 0.75;
}
#item4{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: center;
    font-size: 10px;
}
footer div img{
    padding: 5px;
}
#contact{
    margin: 0px;
}
.figure2{
    max-width: 100%;
    max-height: 90%;
}
.ellipsis{
    font-size: x-large;
}
nav{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 100px;
    min-height: 100px;
    padding: 0 10px;
    border-top: 3px solid gray;
    background-color: #c40000;
    color: white;
}
label{
    font-size: x-large;
    justify-self: end;
}
#checkbox[type="checkbox"]{
    display: none;
}
input[type="checkbox"]:checked~ul{
    display: block;
}
ul{
    display: none;
    list-style: none;
    padding: 0;
}
ul > li{
    font-size: x-large;
    padding: 10px;
}
nav li a{
    color: white;
}
@media screen and (min-width: 769px){
    label {
        display: none;
    }
    ul {
        display: flex;
        justify-content: flex-end;
    }
    ul > li {
        font-size: large;
    }
    .grid-container2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #pulsen{
        width: 530px;
        height: 520px;
        justify-self: stretch;
        margin: 0px;
    }
    main{
        margin: 30px;
        box-sizing: border-box;
    }
    aside{
        margin: 35px;
    }
}
@media screen and(max-width: 768px){
    ul {
        grid-column: 1 / 3;
    }
    ul > li:before{
        content: "CocaCola\00a0";
        color: #c40000;
    }

}
a:link{
    color: white;
}